$black: #000;
$white: #FFF;
$blue: #0A0F27;
$light_blue: #153B52;
$gray: #DEDEDE;
$light_gray: #EEE;
$black_16: rgba(0, 0, 0, 0.16);
$black_23: rgba(0, 0, 0, 0.23);
$black_19: rgba(0, 0, 0, 0.19);
$green: #A2BB5B;
$light_pink: #E9E;
$red: #EB1927;
$gray_deep: #999;
$color_loader: $light_blue;
