.detail-wrapper button {
  background: none;
  border-radius: 5px;
  margin-top: 6px;
  cursor: pointer; }

blockquote {
  text-align: justify; }

.details {
  color: #000; }
  .details div {
    display: inline; }
  .details strong {
    color: #0A0F27; }

.cover-image {
  float: right;
  margin: 15px;
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.52);
  transition: 500ms; }
  .cover-image:hover {
    box-shadow: none; }

h6 {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  text-align: center;
  color: #999; }
