// Ccolors
$white: white;
$blue: #0A0F27;
$light_blue: #153B52;
$gray: #dedede;
$light_gray: #eee;
$black_16: rgba(0, 0, 0, 0.16);
$black_23: rgba(0, 0, 0, 0.23);
$black_19: rgba(0, 0, 0, 0.19);
$green: #A2BB5B;
$color_lavender_rose_approx: #e9e;
$red: #eb1927;
$gray_deep: #999;
$color-loader: $light_blue;

// Assets path
$assets_path: './assets/icons/';

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.5;
  background: $white;
}

.root {
  height: 100%;
}

.app {
  background: $white;
}

.list-books-title {
  padding: 10px 0;
  background: $blue;
  text-align: center;

  h1 {
    font-weight: 400;
    margin: 0;
    color: $white;
  }
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media(min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid $gray;
  color: $green;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;

  a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $light_blue;
    background-image: url($assets_path+'add.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px $black_16, 0 3px 6px $black_23;
    font-size: 0;
    outline: 0;

    &:hover {
      background-color: $gray_deep;
    }
  }
}

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px $black_19, 0 0 6px $black_23;

  input {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.25em;
    border: none;
    outline: none;
  }
}

.search-books-input-wrapper {
  flex: 1;
  background: $color_lavender_rose_approx;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url($assets_path+'arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
  h2, h3 {
    color: $black_16;
    margin-left: 20px;
    &.error {
      color: $red;
    }
  }
}

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    padding: 10px 15px;
    text-align: left;
  }
}

.book {
  width: 140px;
}

.book-title {
  font-size: 0.8em;
  margin-top: 10px;
}

.book-authors {
  font-size: 0.8em;
  color: $gray_deep;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $light_blue;
  background-image: url($assets_path+'arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px $black_16, 0 3px 6px $black_23;

  select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.book-cover {
  box-shadow: 0 3px 6px $black_16, 0 3px 6px $black_23;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

button:active {
  border: $red;
  outline: none;
}

/* Loader by https://codepen.io/majci23/pen/NqdXvy */
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: $color-loader;
  letter-spacing: 0.2em;

  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: $color-loader;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}
